@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');

.page {
    display: flex;
    /* box-sizing: border-box; */
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', ‘Arial’, sans-serif;
    color: #000000;
    min-width: 300px;
    max-width: 1440px;
    width: 100%;
    background: #FFFFFF;
    padding: 0;
}

.header {
  width: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.header__container {
  display: flex;
  /* box-sizing: border-box; */
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.header__logo {
    width: 135px;
    height: 30px;
    margin-right: 60px;
}

.header__search-input {
  font-family: 'Roboto', ‘Arial’, sans-serif;
    border: 1px solid #EBEBF1;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 763px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    background: url('../images/loop.svg') no-repeat 10px;
    padding-left: 35px;
    margin-right: 60px;
    color: #BBC4D6;
  }

.header__user {
    display: flex;
    border-left: 1px solid #EBEBF1;;
    padding-left: 20px;
    /* max-width: 149px;
    width: 100%;
        box-sizing: border-box; */
}

.header__user-name {
font-family: 'Roboto', ‘Arial’, sans-serif;
margin-right: 10px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 120%;
color: #768298;
}

.header__user-avatar {
    background: url('../images/avatar.png');
    width: 40px;
    height: 40px;
}

.main {
  display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 70px 20px;
    /* box-sizing: border-box; */
}

.partners {
  /* display: flex; */
  /* max-width: 1170px; */
  width: 100%;
  box-sizing: border-box;
}
.partners__title {
font-family: 'Roboto', ‘Arial’, sans-serif;
margin: 0 0 30px 0;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 160%;
text-transform: uppercase;
color: #121920;
}

.partners__logo-container {
    display: flex;
    margin-bottom: 30px;
    /* max-width: 1200px;
    width: 100%; */
    flex-wrap: wrap;
    box-sizing: border-box;
    /* justify-content: space-between; */
    
    padding:0;
    gap: 30px;
  }
  
  .partners__logo-item {
    display: flex;
    list-style: none;
    text-decoration: none;
    /* flex-basis: 270px; */
    width: 270px;
    /* width: 100%; */
    height: 100px;
    border: 1px solid #EBEBF1;
    box-sizing: border-box;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 18px;
  }

   .partners__logo-item:hover {
    cursor: pointer;
    box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
    transition: .3s box-shadow;
}
  
   
  .partners__logo-link {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .partners__logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

 @media screen and (max-width: 940px) {
  .partners__title {
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 160%;
text-transform: uppercase;
color: #121920
  }
}

@media screen and (max-width: 940px) {
  .partners__logo-container {
    gap: 20px;
  }
}

@media screen and (max-width: 940px) {
  .partners__logo-item {
    width: 229px;
    height: 120px;
    padding: 25px;
  }
}

