@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");

.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Roboto", ‘Arial’, sans-serif;
  color: #000000;
  min-width: 300px;
  width: 100%;
  background: #ffffff;
  padding: 0;
}

.header {
  width: 100%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.header__container {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.header__logo-wrapper {
  margin-right: 5%;
}

.header__logo {
  width: 135px;
  height: 30px;
}

.header__search-input {
  font-family: "Roboto", ‘Arial’, sans-serif;
  border: 1px solid #ebebf1;
  border-radius: 5px;
  max-width: 65.5%;
  width: 100%;
  height: 40px;
  font-size: 14px;
  background: url("../images/loop.svg") no-repeat 10px;
  padding-left: 35px;
  margin-right: 5%;
  color: #bbc4d6;
}

.header__user {
  display: flex;
  border-left: 1px solid #ebebf1;
}

.header__user-name {
  font-family: "Roboto", ‘Arial’, sans-serif;
  margin-right: 10px;
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #768298;
}

.header__user-avatar {
  background: url("../images/avatar.svg");
  width: 40px;
  height: 40px;
}

.header__user-logo {
  display: none;
}

.main {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 20px;
  box-sizing: border-box;
  justify-content: space-between;
}

.partners {
  width: 100%;
}

.partners__title {
  font-family: "Roboto", ‘Arial’, sans-serif;
  margin: 0 0 30px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 160%;
  text-transform: uppercase;
  color: #121920;
}

.partners__logo-container {
  display: flex;
  margin-bottom: 30px;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0;
  gap: 2.5%;
  row-gap: 30px;
}

.partners__logo-item {
  display: flex;
  list-style: none;
  text-decoration: none;
  width: 23.1%;
  height: 100px;
  border: 1px solid #ebebf1;
  box-sizing: border-box;
  border-radius: 5px;
  align-items: center;
  padding: 18px;
}

.partners__logo-item:hover {
  cursor: pointer;
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1),
    0px 0px 10px rgba(164, 164, 164, 0.03);
  transition: 0.3s box-shadow;
}

.partners__logo-link {
  display: flex;
  width: 100%;
  height: 100%;
}

.partners__logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

@media screen and (max-width: 800px) {
  .partners__title {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 160%;
    text-transform: uppercase;
    color: #121920;
  }
}

@media screen and (max-width: 800px) {
  .partners__logo-container {
    gap: 1, 66%;
    row-gap: 20px;
  }
}

@media screen and (max-width: 800px) {
  .partners__logo-item {
    width: 31.6%;
    height: 120px;
    padding: 25px;
  }
}

@media screen and (max-width: 600px) {
  .header__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .header__logo-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    max-width: 600px;
    width: 100%;
    margin-right: 0;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .header__user {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header__user-logo {
    display: flex;
    background: url("../images/Profile-logo.svg");
    width: 24px;
    height: 24px;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .header__search-input {
    font-family: "Montserrat", ‘Arial’, sans-serif;
    max-width: 600px;
    width: 100%;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-top: 1px solid #bbc4d6;
    border-radius: 0;
    background: url("../images/loop.svg") no-repeat 24px;
    padding-left: 49px;
  }
}

@media screen and (max-width: 600px) {
  .partners__logo-item {
    width: 48.5%;
  }
}

@media screen and (max-width: 600px) {
  .header__container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 450px) {
  .partners__logo-item {
    width: 100%;
  }
}
